@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(244, 197, 56);
}

.text-shadow-white {
  text-shadow: 8px 10px 1px white;
}

.box-shadow-black {
  box-shadow: 4px 5px 1px black;
}

.box-shadow-white {
  box-shadow: 4px 5px 1px white;
}

.full-page-centered {
  @apply h-screen flex justify-center items-center;
}

.h1-custom {
  @apply text-8xl font-bold text-shadow-white;
}

.hover\:box-shadow-black:hover {
  @apply box-shadow-black;
}
